/* installing the font */
@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Abril+Fatface:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*   font-family: "Abril Fatface", times, serif;  
font-family: "Poppins", sans-serif; */

/* the general stiles --------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* the banner styling --------------------*/
.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 105vh;
    background-color: gray;
    background-image: url('./image/hero_1.jpg');
    background-size: cover;
    /*to have the full picture*/
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.banner_header {
    width: 100%;
    height: 70px;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}

.banner_logo {
    width: 15%;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.banner_logo_text {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    font-family: "Abril Fatface", times, serif;
}

.banner_nav {
    width: 45%;
    height: 70px;
    /* background-color: rgb(68, 0, 255,0.8); */

}

/*the span section for the toggle menu*/
.site-menu-toggle {
    float: right;
    width: 40px;
    height: 45px;
    position: relative;
    margin: 0px auto;
    /* z-index: 200; */
}

.site-menu-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
}

.site-menu-toggle span:nth-child(1) {
    top: 0px;
}

.site-menu-toggle span:nth-child(2) {
    top: 10px;
}

.site-menu-toggle span:nth-child(3) {
    top: 20px;
}




/*-----------banner detailes styles :)-----------*/
.banner_detailse {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.banner-travel-heading {
    font-size: 5em;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-family: "Abril Fatface", times, serif;

}


.banner-template-heading {
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-family: "Poppins", sans-serif;
}

.banner-template-heading a {
    font-size: 25px;
    color: #d6d6d6;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
}

.banner-template-heading a:hover {
    color: #fff;
    cursor: pointer;

}

.banner-visit-heading {
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa
}


.banner-visit-heading:hover {
    color: #000000;
    background-color: #fff;
    cursor: pointer;
}

/*banner-footer*/

.banner-footer {
    margin-top: 120px;
    margin-bottom: 3px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;

}

.banner-footer-heading {
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

/*section 222222222-------------------------------------------------------------------------------------------*/
.sec-two {
    padding: 50px 15%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 3em;
}

.sec-two-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5%;
    column-gap: 5%;
}

.sec-two-imgs {

    width: 100vw;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.sec-two-img {
    width: 50%;

}

.sec-two-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    /* background-color: rgb(65, 94, 41); */
    height: auto;
    row-gap: 20px;
}

.sec-two-welcome {
    color: #000000;
    font-family: "Abril Fatface", times, serif;
    font-size: 40px;
}

.sec-two-text {
    color: #747373;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.sec-two-vid {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding: 5px;
    column-gap: 5px;
    align-items: center;
}

.sec-2-cirdle {
    padding: 20px;
    border: 2px solid #038181;
    border-radius: 50%;
}

.sec-2-vlink {
    text-decoration: none;
    color: #038181;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.sec-two-vid:hover,
.sec-2-cirdle:hover,
.sec-2-vlink:hover {
    cursor: pointer;
    border-color: black;
    color: black;
    transition: 0.5s;
}

/*section 33333333333-------------------------------------------------------------------------------------------*/
.section-3 {
    padding: 50px 15%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vh;
    padding: 2em;
    background-color: rgb(252, 251, 251);
}

.sec-3-container {
    display: flex;
    flex-direction: column;
    height: 160vh;
    padding: 2em;
}

.sec3-H-text {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);

}


.sec3-heading {
    color: #000000;
    font-family: "Abril Fatface", times, serif;
    font-size: 35px;
    font-weight: lighter;
}

.sec3-p {
    padding: 5px 15%;
    color: #747373;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    gap: 5PX;
}

.sec3-rows {
    width: 100%;
    height: 150vh;
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 40px;
}

.sec3-row-flaticon {
    width: 350px;
    height: 50em;
    padding: 25px 2%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sec3-row-flaticon h3 {

    color: #000000;
    font-family: "Abril Fatface", times, serif;
    font-size: 30px;
    font-weight: lighter;
}

.sec3-row-flaticon p,
h5 {
    display: flex;
    color: #414141;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.img-fluid {
    width: 20%;
    ;
}


/*------section four---------  */

.sectionfour{
    margin-top: 10%;
    padding: 50px 15%;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.sectionfour-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.sectionfour-div h2 {
    color: #000000;
    font-family: "Abril Fatface", times, serif;
    font-size: 3.5em;
    font-weight: lighter;
}

.sectionfour-div p {
    padding: 15px 15%;
    color: #747373;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    gap: 15PX;
}

.sectionfour-img{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionfour-img img{
    width: 90%;
    height: auto;
    background-size: cover;
}



/* SECTION FIVE ---------*/

.sectionfive{
    background-color: #65c0ba;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px;
    width: 100%;
    height: 170vh;
    padding: 50px 10%; 
    text-align: center;
}

.sectionfive-div{
    /* background-color: #414141; */
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sectionfive h2{
    font-weight: bold;
    font-size: 5.5vw;
    padding-top: 20px;
    
}
.sectionfive p{
    color: #ffffff;
    font-size: 2vw;

}

.sectionfive-div2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 70px 0;
    padding: 20px 0;
    /* background-color: red; */
    
}

.div-inside-section5{
    width: 30%;
    height: 450px;
    margin-bottom: 20px;
    background-color: #ffffff;
    
}

.div-inside-section5 p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.div-inside-section5 h3{
    font-size: 25px;
    font-weight: 700;
}


.div-inside-section5:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}
.div-inside-section5 img{
    height: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    text-align: center;
}
.div-inside-section5 h3{
    margin: 10px 0;
    font-size: 20px;
}
.div-inside-section5 h3:hover{
    color: #65c0ba;
}
.div-inside-section5 p{
    line-height: 1;
    color: #6c757d
}

/* section sex -------------- */

.sectionsix{
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    padding: 50px 10%; 
    background-color: #fafafa;
    align-items:center ;
}
.sectionsix h2{
    font-weight: bold;
    font-size: 5vw;
    padding-top: 20px;
}

.sectionsix-div2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    margin: 30px 0;
    padding: 30px 0;
    
}
.div-inside-section6{
    width: 31%;
    padding: 5px;
}

.sec6-cont{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
}

.div-inside-section6 img{
    height: 25%;
    width: 25%;
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
    display: flex;
    border-radius: 50%;
}
.div-inside-section6 p{
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: #000000;
    line-height: 1.5;
}
.names{
    line-height: 1;
    color: #000000;
    font-size: large;
}


/* section seven 7777777777 */
/* section seven 7777777777 */


.sectionseven{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%; 
    padding: 50px 15%; 
    text-align: center;
}
.sec7-cont{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 15%;
}
.sectionseven h2{
    font-weight: bold;
    font-size: 3.5vw;
    padding-top: 20px;
}

.sec7-cont p{
    font-family: "Poppins", sans-serif;
}


.sectionseven-div2 {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
    padding: 20px 0;
    background-color: #038181;
}

.sectionseven-div2 > div {
    width: 23%; 
    margin: 0 1%;
    text-align: center; 
}

.div-inside-section7{
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fcfcfc;
    line-height: 1.5;
}

.div-inside-section7 img{
    height: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}
.div-inside-section7 p{
    line-height: 1;
    color: #000000
}
.sectionseven-div2 span{
    line-height: 1;
    color: #6c757d
}

/* ------------footer :) -------------*/

footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.footer-div h4{
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}
ul{
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
}
.copyright {
    margin-top: 50px;
    font-size: 14px;
    color: #ffffff;
}
